
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 1%;"><b>Family Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fid">Spouse Name:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Sowmiya velu"  id="fid" placeholder="Spouse Name">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fname">SBlood Group:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="AB+" "id="fname" placeholder="SBlood Group">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fsex">SEducational Qualification:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control"value="F" id="fsex" placeholder="SEducational Qualification">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="pwd">SOccupation:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="Homemaker" id="pwd" placeholder="SOccupation">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fdob">SDOB:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="02/12/1985" id="fdob" placeholder="Date Of Birth">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEQ">SOther skills:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="NA" id="fEQ" placeholder="SOther skills">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fJD">SHobbies:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Cooking" id="fJD" placeholder="SHobbies">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fFname">SAspiration:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="NA" id="fFname" placeholder="SAspiration">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="FatherName">Father Name:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Veera velu" id="FatherName" placeholder="Father Name">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="FBlood">FBlood group:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="A+" id="FBlood" placeholder="FBlood group">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="FEducation">FEducation Qualification:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="+12" id="FEducation" placeholder="FEducation Qualification">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fZone">FOcupation:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="farmer" id="fZone" placeholder="FOcupation">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fDistrict">FDOB:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="07/06/1955" id="fDistrict" placeholder="FDOB">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fState">FAge:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="66" id="fState" placeholder="FAge">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fMobile">No Of children:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="1" id="fMobile"value="1" placeholder="No Of children">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEmailId">1St child Name:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="Shayam" id="fEmailId" placeholder="1St child Name">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fKno">Sex.:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="M" id="fKno" placeholder="Sex">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAno">D.O.B.:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="09/02/1993" id="fAno" placeholder="D.O.B.">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBankName">Age:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="22" id="fBankName" placeholder="Age">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBranchName">Educational Qualification:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fBranchName" value="BA" placeholder="Educational Qualification">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBankAccNo">Blood Group:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="AB+" id="fBankAccNo" placeholder="Blood Group">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAccName">Other Skills:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fAccName" value="cricket,internet Surfing" placeholder="Other Skills">
				</div>
			  </div>
			</div>
		</div>
		  
</form>
</div>
