
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 1%;"><b>Financial Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Farm Income Per Year:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="300000" id="fBankAccNo" placeholder="Farm Income Per Year">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Other income (Wages):</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="milk selling" id="fBankAccNo" placeholder="Other income (Wages)">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Yearly expenditure:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="200000" id="fBankAccNo" placeholder="Yearly expenditure">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Yearly Saving:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="50000rs" id="fBankAccNo" placeholder="Yearly Saving">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Medical History:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="NA" id="fBankAccNo" placeholder="Medical History">
				</div>
			  </div>			  
			</div>
		</div>
		  
</form>
</div>
