
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 1%;"><b>Health Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-12" style="font-size: 24px;"for="fBankName">Is everyOne hale and healthy in your family?If No please mention the health details</label>				
			  </div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Name:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Shayam" id="fBankAccNo" placeholder="Name">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Type Of Disease/illness:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="typhoid" id="fBankAccNo" placeholder="Type Of Disease/illness">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">How long the person is affected?:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="2 weeks" id="fBankAccNo" placeholder="How long the person is affected?">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Kind of medical support expected:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Free Medicine" id="fBankAccNo" placeholder="Kind of medical support expected">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Medical History:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="NA" id="fBankAccNo" placeholder="Medical History">
				</div>
			  </div>			  
			</div>
		</div>
		  
</form>
</div>
