
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 2%;"><b>Land Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fid">Survey Number:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="1200" id="fid" placeholder="Survey Number">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fname">OwnerShip:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="Manoj kumar" id="fname" placeholder="OwnerShip">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fsex">Village:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Naya Nagar" id="fsex" placeholder="OwnerShip">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fdob">Panchayat:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="kuthar" id="fdob" placeholder="Panchayat">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			 
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEQ">Zone:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="South" id="fEQ" placeholder="Panchayat">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fJD">District:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control"  value="Tambaram" id="fJD" placeholder="District">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAddress">State:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Tamil Nadu" id="fAddress" placeholder="State">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fVillage">Current Crop:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="Rice" id="fVillage" placeholder="Current Crop">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fPanchayat">Crop Sown Date:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="02/01/2016" id="fPanchayat" placeholder="Crop Sown Date">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fZone">Crop Harvest Date:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="south" id="06/04/2016" placeholder="Crop Harvest Date">
				</div>
			  </div>
			</div>
		</div>
		  
</form>
</div>
