
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 1%;"><b>Livestock Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">No.of Livestock:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="5" id="fBankAccNo" placeholder="No.of Livestock">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">No of Cows:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="3" id="fBankAccNo" placeholder="No of Cows">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">No of Buffaloes:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="0" id="fBankAccNo" placeholder="No of Buffaloes">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">No of Oxen:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="2" id="fBankAccNo" placeholder="No of Oxen">
				</div>
			  </div>			  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-12">
				<label class="control-label col-sm-4" for="fBankAccNo">Any Other:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="NA" id="fBankAccNo" placeholder="Any Other">
				</div>
			  </div>			  
			</div>
		</div>
		  
</form>
</div>
