 <h1 class="page-header" style="color:black;">Welcome Nikhil</h1>
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 2%;"><b>Basic Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fid">Farmer id:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="FARM09686" id="fid" placeholder="Farmer id">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fname">Farmer Name:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="Manoj kumar" id="fname" placeholder="Farmer Name">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fsex">Sex:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="M" id="fsex" placeholder="Sex">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fdob">D.O.B(dd/mm/yyyy):</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="17/08/1983" id="fdob" placeholder="Date Of Birth">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			 
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEQ">Educational Qualification:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="5th" id="fEQ" placeholder="Educational Qualification">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fJD">Job Description:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control"  value="farmer"id="fJD" placeholder="Job Description">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAddress">Address:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="house no 32" id="fAddress" placeholder="Address">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fVillage">Village:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="naya nagar" id="fVillage" placeholder="Village">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fPanchayat">Panchayat:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="Kuthar" id="fPanchayat" placeholder="Enter text">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fZone">Zone:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="south" id="fZone" placeholder="Zone">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fDistrict">District:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control"value="Tambaram" id="fDistrict" placeholder="District">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fState">State:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="Tamil Nadu" id="fState" placeholder="State">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fMobile">Mobile No:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="9740447030" id="fMobile" placeholder="Mobile No">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEmailId">EmailId:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="NA" id="fEmailId" placeholder="EmailId">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fKno">Kisan card No.:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="KISAN7689" id="fKno" placeholder="Kisan card No.">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAno">Aadhar Card No.:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="IND6786778676" id="fAno" placeholder="Aadhar Card No.">
				</div>
			  </div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBloodGroup">Blood Group:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="AB+" id="fBloodGroup" placeholder="Blood Group">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fOrganic">Organic Farming(Y/N):</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="N" id="fOrganic" placeholder="Organic Farming(Y/N)">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fOtherSkills">Other Skills:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" value="NA" id="fOtherSkills" placeholder="Other Skills">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fHobbies">Hobbies:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" value="singing" id="fHobbies" placeholder="Hobbies">
				</div>
			  </div>
			</div>
		</div>	  
</form>
</div>
